.calendar-event-box {
    width: 160px;
    max-height: 100px; /* Prevents the box from expanding too much */
    overflow-y: auto; /* Adds a scroll if content is too large */
    color: red;
    border: 1px solid darkred;
    border-radius: 4px;
    padding: 5px;
    word-wrap: break-word;
    font-size: 12px; /* Smaller font to fit better */
    margin: auto;
    margin-top: 10px;
}
