<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593032243471-3eo5d5vdg8ld2nokprrtn318n0levlt7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593032243471-3eo5d5vdg8ld2nokprrtn318n0levlt7</string>
	<key>API_KEY</key>
	<string>AIzaSyCYJSUc1xnMf5KRiJbzs-ep8_9edN9nwIU</string>
	<key>GCM_SENDER_ID</key>
	<string>593032243471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.happytomato.app</string>
	<key>PROJECT_ID</key>
	<string>happy-tomato</string>
	<key>STORAGE_BUCKET</key>
	<string>happy-tomato.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593032243471:ios:8f2e1554ed5ced92ebb67a</string>
</dict>
</plist>